.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
/* .cart__item__left,
.cart__item__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */
hr {
  width: 90%;
  margin: 0 3rem;
  color: var(--color-primary-light);
}
/* .cou {
  color: black;
} */

.btn--cart {
  padding: 0.5rem 1rem;
  font-weight: 800;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  color: var(--color-primary-lightest);
  /* cursor: pointer; */
  border: var(--color-primary-lightest) solid 2px;
  background-color: var(--color-primary-darkest);
}

.btn--cart:active {
  color: var(--color-primary);
  border: var(--color-primary) solid 2px;
}
