html{
  font-size: 62.5%;
}
:root{
  --color-primary:rgb(255, 123, 0);
  --color-primary-dark:rgb(41, 25, 0);
  --color-primary-darkest:rgb(20, 13, 0);
  --color-primary-light:rgb(255, 240, 217);
  --color-primary-lightest:rgb(255, 249, 239);

}
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;

}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  /* overflow:scroll; */
  /* test */
  background-color: var(--color-primary-dark);
  position:relative;
}

body::-webkit-scrollbar{
  display: none;
  /* scrollbar-width: 10px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
